<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show person</title>
</head>
<body>
<p th:text="${person.getName() + ', ' + person.getYear()}">VALUE</p>

<p th:if="${books.isEmpty()}">
    Человек пока не взял ни одной книги
</p>
<div th:unless="${books.isEmpty()}">
    <span><b>Книги:</b></span>
    <br/>
    <table th:each="book : ${books}">
        <tr th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">VALUE</tr>
    </table>
</div>

<hr/>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить"/>
</form>

</body>
</html>